.booking {

    // .booking__form
    &__form {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
    }

    &__date-inputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include adaptiveValue("gap", 80, 20, 1920, 767);

        @media (max-width:$mobile) {
            display: none;
            visibility: hidden;
            opacity: 0;
        }
    }

    // .booking__body
    &__body {
        padding: 15px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media (max-width: em(360)) {
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }
    }

    // .booking__text
    &__text {
        line-height: 1.4;

        h4 {
            @include adaptiveValue("font-size", 20, 14);

        }

        p {
            @include adaptiveValue("font-size", 14, 10);
            color: #c7c5c5;

        }
    }
}