.intro {
    position: relative;

    &__body {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("gap", 50, 25);
    }

    // .intro__title
    &__title {
        @include adaptiveValue("font-size", 124, 60);
        font-family: "Ojuju";
    }

    // .intro__subtitle
    &__subtitle {
        font-family: "Montserrat";
        @include adaptiveValue("font-size", 25, 16);
    }
}