.intro {
    background-image: url('../img/header/bg.jpg');
    background-size: cover;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width:$mobile) {
        background-position: 50%;
    }
}

.main-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    position: relative;
    flex: 1 1 auto;
    background-color: #000000ea;
}