.button {
    &.button-transparent {
        border: 1px solid #fff;
        padding: 10px 20px;
        font-size: 14px;
        transition: all 0.15s ease 0s;
        max-width: fit-content;

        @media (any-hover: hover) {
            &:hover {
                background-color: rgba($color: #fff, $alpha: 0.1);
            }
        }
    }
}